/* global palette */

:root {
    /* color palette */
    --primary-color: #b300ff;
    --secondary-color: #00cfff;
    --oklab-primary-color: color-mix(in oklab, #b300ff 90%, white);
    --oklab-secondary-color: color-mix(in oklab, #00cfff 90%, white);

    /* text colors */
    --text-title-color: white;
    --text-color: color-mix(in oklab, white 60%, transparent);
    --trion-colors: linear-gradient(to right, var(--oklab-secondary-color), var(--oklab-primary-color), var(--oklab-secondary-color));

    /* bg colors */
    --bg-color: #0d0d0d;
    --header-bg-color: #14141eb3;
    --cards-bg-color: #14141eb3;

    /* border and glow colors */
    --border-color: #00cfff33;
    --btn-glow: 0 0 10px #00cfff80, 0 0 20px #00cfff4d, 0 0 30px #00cfff33;
    --title-glow: 0 0 10px #00cfffcc, 0 0 20px #00cfff80, 0 0 30px #00cfff4d;
    --rank-glow: 0 0 10px #b300ff80, 0 0 20px #b300ff4d, 0 0 30px #b300ff33;
    --transition-glow: var(--title-glow);
    --onTop-shadow: linear-gradient(to top, var(--bg-color) 0%, var(--bg-color) 30%, transparent 100%);

    /* button colors */
    --primary-btn-color: linear-gradient(to right, var(--oklab-secondary-color), var(--oklab-primary-color));
    --secondary-btn-color: var(--secondary-color);

    /* sizes */
    --g-font-size: 10px;
    --def-font-size: 1.6rem;
    --def-gap: 1.6rem;
    --hero-font-size: 2.4rem;
    --hero-gap: 2.4rem;
    --def-btn-padding: 1.2rem;
    --horizontal-padding: 0 3.2rem;
    --border-radius: 0.8rem;
    --icons-dim: calc(var(--hero-font-size)*2 - 1rem);
    --icons-font-size: calc(var(--hero-font-size) - 0.5rem);
    --rem4-8: 4.8rem;
    --card-height: 41.8rem;
    --card-widthx4: 29.15rem;
    --card-widthx3: 39.9328rem;

    /* font-family */
    --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* to be continued */
}

/* initialize margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: transparent;
}

/* global font */
html {
    font-size: var(--g-font-size);
    font-family: var(--font-family);
}

/* global color and display */
body {
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

/* style h3 as h4 */
h3 {
    font-size: 1.6rem;
    font-weight: inherit;
}

/* header */
header {
    position: fixed;
    /* box-sizing: border-box; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    height: 8rem;
    padding: var(--horizontal-padding);
    background: var(--header-bg-color);
    border: 1px solid var(--border-color);
    color: var(--text-title-color);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    font-size: var(--def-font-size);
    backdrop-filter: blur(10px);
    z-index: 2;
}

header a {
    text-decoration: none;
    color: var(--text-title-color);
}

header ul a {
    font-weight: bold;
}

header ul a:hover:not(.btn) {
    color: var(--secondary-color);
    text-shadow: var(--title-glow);
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

header ul a.selected {
    text-shadow: 0 0 10px #ffffffcc, 0 0 20px #ffffff80, 0 0 30px #ffffff4d;
}

header li {
    list-style: none;
}

header ul {
    display: flex;
    gap: calc(var(--def-gap) * 2);
}

.header__cta ul {
    gap: 1rem;
}

header h2 {
    text-shadow: var(--title-glow);
    font-weight: inherit;
}

/* buttons */
.btn {
    display: inline-flex;
    font-size: var(--def-font-size);
    /* padding: var(--def-btn-padding) calc(var(--def-btn-padding)*2); */
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 4.8rem;
    border: 1px solid var(--text-title-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
    color: var(--text-title-color);
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: var(--transition-glow);
}

.btn--primary {
    background: var(--primary-btn-color);
    box-shadow: var(--btn-glow);
    border: 0;
}

.btn--secondary {
    border-color: var(--secondary-btn-color);
    box-shadow: var(--btn-glow);
    color: var(--secondary-btn-color);
}

/* end of global buttons */
/* header buttons */
.btn--header {
    width: auto;
    padding: 0 1.6rem;
}

/* end of buttons */

/* hero section */

#hero-section {
    min-height: 100vh;
    /* padding: 5rem 10rem; */
    background: url('../assets/images/hero-img.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--hero-gap);
    padding-bottom: var(--def-gap);
    /* justify-content: center; */
    
}

.hero-section__text {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    text-align: center;
    flex-wrap: wrap;
    max-width: 72rem;
    width: 100%;
    line-height: 1;
    gap: var(--hero-gap);
}

.text--gradient2c {
    background: var(--primary-btn-color);
    background-clip: text;
    color: transparent;
}
    

.hero-section__text h1 {
    font-size: 7.2rem;
    font-weight: inherit;
}

.hero-section__text p {
    font-size: var(--hero-font-size);
}

.hero-section__btns {
    display: flex;
    gap: var(--def-gap);
    justify-content: center;
    align-items: center;
}

.hero-section__btns .btn i {
    margin-top: 0.25rem;
}

/* cta section */

#cta-section {
    padding: var(--horizontal-padding);
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid var(--border-color);
}

.cta-section__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--rem4-8);
    background-color: var(--cards-bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--def-font-size);
}

.cta-section__card__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--def-gap);
    flex-wrap: wrap;
    width: 70rem;
}

.cta-section__card i {
    font-size: var(--rem4-8);
    color: var(--secondary-color);
}

.text--gradient3c {
    background: var(--trion-colors);
    background-clip: text;
    color: transparent;
    font-weight: inherit;
    width: 100%;
}



/* footer */


footer {
    padding: var(--rem4-8) 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: var(--def-font-size);
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.3rem;
    background: linear-gradient(to right, transparent, var(--secondary-color), transparent);
}
footer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.3rem;
    background: linear-gradient(to right, transparent, var(--primary-color), transparent);
}

footer a {
    text-decoration: none;
    color: var(--text-color);
}

footer a:not(:has(i)):hover {
    color: color-mix(in oklab, var(--text-title-color) 90%, transparent);
}

footer a:has(i):hover {
    background-color: var(--border-color);
}

footer li {
    list-style: none;
}

footer h2 {
    font-weight: inherit;
}

footer h3 {
    color: var(--text-title-color);
    margin-top: 0.4rem;
}

.footer__top {
    display: flex;
    /* justify-content: space-around; */
    padding: var(--horizontal-padding);
}

.footer__top__left {
    display: flex;
    flex-direction: column;
    gap: var(--def-gap);
    flex-wrap: wrap;
    max-width: 38rem;
}
.footer__top__center {
    display: flex;
    flex-grow: 1;
    /* yeaaaaah it wooooorked */
    justify-content: space-around;
}

.footer__top__center__col {
    display: flex;
    flex-direction: column;
    gap: calc(var(--def-gap) + 0.8rem); 
    /* because the footer title is 8px bigger than the other titles there */
}

.footer__top__center__col ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer__top__left__sm {
    display: flex;
    gap: var(--def-gap);
}

.footer__top__left__sm a {
    font-size: var(--icons-font-size);
    /* padding: 0.4rem 0.8rem; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--icons-dim);
    height: var(--icons-dim);
    color: var(--secondary-color);
    border: 1px solid color-mix(in oklab, var(--secondary-color) 20%, transparent);
    border-radius: var(--border-radius);
}

.footer__middle {
    display: flex;
    justify-content: flex-start;
    /* padding: var(--horizontal-padding); */
    margin: var(--horizontal-padding);
    /* padding-top: calc(var(--def-gap)*3); */
    margin-top: calc(var(--def-gap)*2);
    padding-top: calc(var(--def-gap)*2);
    border-top: 1px solid var(--border-color);
    /* to limit the border width */
    width: calc(100% - 3.2rem*2);
    gap: calc(var(--def-gap)*15);
}
    
/* .footer__middle::before {
    content: "";
    position: relative;
    top: 0;
    left: 3.2rem;
    right: 3.2rem;
    height: 1px;
    background: var(--border-color);
} */

.footer__middle__col {
    display: flex;
    gap: var(--def-gap);
    align-items: center;
}

.footer__middle__col i {
    display: inline-flex;
    font-size: var(--icons-font-size);
    width: var(--icons-dim);
    height: var(--icons-dim);
    justify-content: center;
    align-items: center;
    border: solid 1px transparent;
    border-radius: var(--border-radius);
    margin-top: 0.2rem; /* to align with the text (0.4rem in the difference of height)*/
}

.footer__middle__col--secondary i {
    color: var(--secondary-color);
    background-color: color-mix(in oklab, var(--secondary-color) 20%, transparent);
}

.footer__middle__col--primary i {
    color: var(--primary-color);
    background-color: color-mix(in oklab, var(--primary-color) 20%, transparent);
}

.footer__middle__col--secondary a:hover {
    color: var(--secondary-color) !important;
}

.footer__middle__col--primary a:hover {
    color: var(--primary-color) !important;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    /* padding: var(--horizontal-padding); */
    margin: var(--horizontal-padding);
    /* padding-top: calc(var(--def-gap)*3); */
    margin-top: calc(var(--def-gap)*2);
    padding-top: calc(var(--def-gap)*2);
    border-top: 1px solid var(--border-color);
    /* to limit the border width */
    width: calc(100% - 3.2rem*2);
    gap: calc(var(--def-gap)*15);
}

.footer__bottom ul {
    display: flex;
    gap: var(--def-gap);
}

/* no responsivity part */
body, header, main, footer {
    /* works only on screens with a width greater than 920px and force what below to scroll */
    min-width: 92rem;
    overflow-x: hidden;
}
@media (max-width: 920px) {
    body {
        overflow-x: scroll;
    }
}

/* ############################################# Tournaments */
/* temporary */
main {
    overflow-y: hidden;
}
/* end of temporary */

.hero-section--tournaments {
    min-height: 50vh !important;
    overflow: hidden;
}

#tournaments-section, #teams-section, #games-section, #blog-section {
    display: flex;
    flex-direction: column;
    padding: var(--rem4-8);
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: var(--def-gap);
    align-items: center;
}

.container__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--def-gap);
    flex-wrap: wrap;
    font-size: var(--def-font-size);
    /* font-weight: inherit; */
    width: 60vw; 
    /* I just like it that way */
}

.container__top h2 {
    font-weight: inherit;
}

.container__top p {
    max-width: 64rem;
    text-align: center;
}

.tournaments__cards {
    display: flex;
    gap: var(--def-gap);
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: var(--def-gap); */
    font-size: var(--def-font-size);
    width: 100vw
}

.tournaments__cards .card {
    position: relative;
    background-color: var(--cards-bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: var(--card-widthx4);
    height: var(--card-height);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    /* gap: var(--def-gap); */
}

.tournaments__cards .card:hover {
    box-shadow: var(--transition-glow);
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


.tournaments__cards .card img {
    width: 29.15rem;
    height: 19.2rem;
    object-fit: cover;
}

.tournaments__cards .card__stats {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    width: auto;
    padding: 0.6rem 1.2rem;
    border-radius: calc(var(--border-radius) * 3);
    color: var(--text-title-color);
    opacity: 0.85;
    pointer-events: none;
}

.tournaments__cards .card__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--def-gap);
    padding: 2.4rem;
}

.tournaments__cards .card__bottom .titles {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    color: var(--text-title-color);
}

.tournaments__cards .card__bottom .titles h3 {
    font-weight: inherit;
    font-size: var(--def-font-size);
}

.tournaments__cards .card__bottom .text--secondary {
    color: var(--secondary-color);
}

.tournaments__cards .card__bottom .numbers {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.tournaments__cards .card__bottom .fa-calendar {
    margin-left: 0.3rem; /* the difference between this icon and the other is 0.6rem in the width, so a margin half of that distance will center it */
}

.tournaments__cards .card__bottom a {
    align-self: center;
    width: 100%;
    box-shadow: none;
}

/* ###################### Teams */

.teams__cards .card__rank {
    left: 1.6rem;
    right: inherit;
    padding:  0.8rem 1rem;
    font-size: 2rem;
    box-shadow: var(--rank-glow);
}

/* .teams__cards .card__bottom {
    display: flex;

    align-items: center;
} */

.teams__cards .card__bottom h3 {
    font-size: var(--def-font-size);
}

.teams__cards .card__bottom .numbers {
    flex-direction: row;
    justify-content: space-around;
}

.teams__cards .card__bottom .numbers div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams__cards .card__bottom .numbers__left {
    color: var(--secondary-color);
}

.teams__cards .card__bottom .numbers__right {
    color: var(--primary-color);
}

.teams__cards .card__bottom .titles{
    align-self: center;
}

.btn--tritary {
    color: var(--primary-color);
    background: none;
    border: solid 1px var(--primary-color);
    font-weight: inherit;
}

.teams__cards .card__bottom .btn i {
    margin-top: 0.25rem;
}

/* ###################### Games */
.games__cards .card--game-no-bg {
    background-color: transparent;
    height: 39.1328rem;

}

.games__cards .card__top--bg img{
    height: 39.1328rem;
    object-fit: fill;
}

.games__cards .card__top--bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--onTop-shadow);
    z-index: 2;
    pointer-events: none;
    opacity: 0.8;
}

.games__cards .card__bottom--game {
    position: absolute;
    top: calc(var(--card-height) / 2 + 3.7322rem);
    z-index: 3;
    width: 100%;
    align-items: flex-start;
}

.games__cards .titles--game-category {
    flex-direction: row !important;
    align-self: flex-start !important;
    color: var(--secondary-color) !important;
}

.games__cards .card__bottom--game h3 {
    color: var(--text-title-color);
}

.games__cards .titles--game-category i {
    align-content: center;
}

/* ###################### Blog */

.blog__cards .card{
    width: var(--card-widthx3);
    height: 44.2rem;
}

.blog__cards .card img {
    width: 39.9328rem;
    object-fit: cover;
}

.blog__cards .card__bottom--blog {
    align-items: flex-start;
}

.blog__cards .card__bottom--blog .titles {
    align-self: start;
}

.blog__cards .card__bottom--blog .numbers {
    justify-content: space-between;
    /* flex-grow: 1; */
    width: 100%;
}

.blog__cards .card__bottom--blog .numbers * {
    color: var(--text-color);
}

.blog__cards .card__bottom--blog .read-more {
    text-decoration: none;
    color: var(--secondary-color);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.blog__cards .card__bottom--blog .read-more:hover {
    color: var(--primary-color);
    transform: scale(1.05);
}

/* Contact */

.contact-section {
    padding-top: 16rem !important;
}

.contact-section h1 {
    width: auto;
}

.contact-section .cta--contact__card {
    padding-inline: 0;
    border-top-left-radius: 8rem;
    border-top-right-radius: 8rem;
}

.contact-section .contact__card--form-envelope {
    padding-inline: var(--rem4-8);
    border-top: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.contact-section .cta--contact__card__elements {
    width: 100%;
    height: 100%;
    gap: calc(var(--rem4-8) / 2);
}

.contact-section form {
    display: flex;
    flex-direction: column;
    gap: var(--def-gap);
    align-items: center;
    margin-top: calc(var(--rem4-8) / 2);
}

.contact-section form input, .contact-section form textarea {
    width: 100%;
    background-color: transparent;
    color: var(--text-color);
    padding: var(--def-btn-padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    font-size: var(--def-font-size);
    outline: none;
}

.contact-section form input:focus-visible, .contact-section form textarea:focus-visible {
    border-color: color-mix(in oklab, var(--primary-color) 33%, transparent);
}

.contact-section form textarea {
    scrollbar-color: color-mix(in oklab, var(--secondary-color) 33%, transparent) var(--bg-color);
    resize: none;
}

.contact-section form textarea:focus-visible {
    scrollbar-color: color-mix(in oklab, var(--primary-color) 33%, transparent) var(--bg-color);
}

.contact-section form .full-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-section form .full-name input {
    width: 48%;
}

/* ###################### Join Tournament */

.j-tournament-section form {
    gap: calc(var(--def-gap) * 1.5);
}

.j-tournament-section [class$="title"] h2 {
    font-size: var(--def-font-size);
    color: var(--text-title-color);
}

.j-tournament-section form :not(.btn) {
    align-items: flex-start;
}

.j-tournament-section form > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: calc(var(--def-gap) / 2);
}

.j-tournament-section form [class$="options"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--def-gap);
    justify-content: flex-start;
}

.j-tournament-section form .mode__options {
    gap: calc(var(--def-gap) * 6.45);
}

.j-tournament-section form .btn {
    margin-top: calc(var(--def-gap) * 2);
}

.j-tournament-section form input {
    width: fit-content;
    cursor: pointer;
    accent-color: var(--secondary-color);
}

.j-tournament-section form label {
    cursor: pointer;
}

.j-tournament-section form .two-elements {
    user-select: none;

}

/* ########## Login  */

.login-section form {
    gap: calc(var(--def-gap) * 1.5);
}

.login-section form .btn {
    margin-top: var(--def-gap);
}

.login-section form .remember-me {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* align-items: ; */
    gap: 0.8rem;
    margin-top: calc(-1 * var(--def-gap));
}

.login-section form input {
    accent-color: var(--secondary-color);
    width: fit-content;
}

/* ########## Sign Up  */

.signup-section form .btn {
    margin-top: calc(var(--def-gap) * 1.5);
}