/* global palette */

:root {
    /* color palette */
    --primary-color: #b300ff;
    --secondary-color: #00cfff;

    /* text colors */
    --text-title-color: white;
    --text-color: color-mix(in oklab, white 60%, transparent);
    --trion-colors: linear-gradient(to right, var(--secondary-color), var(--primary-color), var(--secondary-color));

    /* bg colors */
    --bg-color: #0d0d0d;
    --header-bg-color: rgba(20, 20, 30, 0.7);
    --cards-bg-color: #14141eb3;

    /* border and glow colors */
    --border-color: #00cfff33;
    --btn-glow: 0 0 10px #00cfff80, 0 0 20px #00cfff4d, 0 0 30px #00cfff33;
    --title-glow: 0 0 10px #00cfffcc, 0 0 20px #00cfff80, 0 0 30px #00cfff4d;

    /* button colors */
    --primary-btn-color: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    --secondary-btn-color: var(--secondary-color);

    /* sizes */
    --g-font-size: 10px;
    --def-font-size: 1.6rem;
    --def-gap: 1.6rem;
    --hero-font-size: 2.4rem;
    --hero-gap: 2.4rem;
    --def-btn-padding: 1.2rem;
    --horizontal-padding: 0 3.2rem;
    --border-radius: 0.8rem;
    --icons-dim: calc(var(--hero-font-size)*2 - 1rem);
    --icons-font-size: calc(var(--hero-font-size) - 0.5rem);
    --rem4-8: 4.8rem;

    /* font-family */
    --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* to be continued */
}

/* initialize margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global font */
html {
    font-size: var(--g-font-size);
    font-family: var(--font-family);
}

/* global color and display */
body {
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

/* header */
header {
    position: fixed;
    /* box-sizing: border-box; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    height: 8rem;
    padding: var(--horizontal-padding);
    background: var(--header-bg-color);
    border: 1px solid var(--border-color);
    color: var(--text-title-color);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    font-size: var(--def-font-size);
    backdrop-filter: blur(10px);
    z-index: 2;
}

header a {
    text-decoration: none;
    color: var(--text-title-color);
    font-weight: bold;
}

header li {
    list-style: none;
}

header ul {
    display: flex;
    gap: calc(var(--def-gap) * 2);
}

.header__cta ul {
    gap: 1rem;
}

header h2 {
    text-shadow: var(--title-glow);
}

/* buttons */
.btn {
    display: inline-flex;
    font-size: var(--def-font-size);
    /* padding: var(--def-btn-padding) calc(var(--def-btn-padding)*2); */
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 4.8rem;
    border: 1px solid var(--text-title-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
    color: var(--text-title-color);
    font-weight: bold;
}

.btn--primary {
    background: var(--primary-btn-color);
    box-shadow: var(--btn-glow);
    border: 0;
}

.btn--secondary {
    border-color: var(--secondary-btn-color);
    box-shadow: var(--btn-glow);
    color: var(--secondary-btn-color);
}

/* end of global buttons */
/* header buttons */
.btn--header {
    width: auto;
    padding: 0 1.6rem;
}

/* end of buttons */

/* hero section */

#hero-section {
    min-height: 100vh;
    /* padding: 5rem 10rem; */
    background: url('../assets/images/hero-img.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--hero-gap);
    padding-bottom: var(--def-gap);
    /* justify-content: center; */
    
}

.hero-section__text {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    text-align: center;
    flex-wrap: wrap;
    max-width: 72rem;
    width: 100%;
    line-height: 1;
    gap: var(--hero-gap);
}

.text--gradient2c {
    background: var(--primary-btn-color);
    background-clip: text;
    color: transparent;
}
    

.hero-section__text h1 {
    font-size: 7.2rem;
    font-weight: inherit;
}

.hero-section__text p {
    font-size: var(--hero-font-size);
}

.hero-section__btns {
    display: flex;
    gap: var(--def-gap);
    justify-content: center;
    align-items: center;
}

/* cta section */

#cta-section {
    padding: var(--horizontal-padding);
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid var(--border-color);
}

.cta-section__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--rem4-8);
    background-color: var(--cards-bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--def-font-size);
}

.cta-section__card__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--def-gap);
    flex-wrap: wrap;
    width: 70rem;
}

.cta-section__card i {
    font-size: var(--rem4-8);
    color: var(--secondary-color);
}

.cta-section__card h2 {
    background: var(--trion-colors);
    background-clip: text;
    color: transparent;
    font-weight: inherit;
    width: 100%;
}



/* footer */


footer {
    padding: var(--rem4-8) 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: var(--def-font-size);
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.3rem;
    background: linear-gradient(to right, transparent, var(--secondary-color), transparent);
}
footer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.3rem;
    background: linear-gradient(to right, transparent, var(--primary-color), transparent);
}

footer a {
    text-decoration: none;
    color: var(--text-color);
}
footer li {
    list-style: none;
}

footer h2 {
    font-weight: inherit;
}

footer h4 {
    color: var(--text-title-color);
    margin-top: 0.4rem;
}

.footer__top {
    display: flex;
    /* justify-content: space-around; */
    padding: var(--horizontal-padding);
}

.footer__top__left {
    display: flex;
    flex-direction: column;
    gap: var(--def-gap);
    flex-wrap: wrap;
    max-width: 38rem;
}
.footer__top__center {
    display: flex;
    flex-grow: 1;
    /* yeaaaaah it wooooorked */
    justify-content: space-around;
}

.footer__top__center__col {
    display: flex;
    flex-direction: column;
    gap: calc(var(--def-gap) + 0.8rem); 
    /* because the footer title is 8px bigger than the other titles there */
}

.footer__top__center__col ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer__top__left__sm {
    display: flex;
    gap: var(--def-gap);
}

.footer__top__left__sm a {
    font-size: var(--icons-font-size);
    /* padding: 0.4rem 0.8rem; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--icons-dim);
    height: var(--icons-dim);
    color: var(--secondary-color);
    border: 1px solid color-mix(in oklab, var(--secondary-color) 20%, transparent);
    border-radius: var(--border-radius);
}

.footer__middle {
    display: flex;
    justify-content: flex-start;
    /* padding: var(--horizontal-padding); */
    margin: var(--horizontal-padding);
    /* padding-top: calc(var(--def-gap)*3); */
    margin-top: calc(var(--def-gap)*2);
    padding-top: calc(var(--def-gap)*2);
    border-top: 1px solid var(--border-color);
    /* to limit the border width */
    width: calc(100% - 3.2rem*2);
    gap: calc(var(--def-gap)*15);
}
/* .footer__middle::before {
    content: "";
    position: relative;
    top: 0;
    left: 3.2rem;
    right: 3.2rem;
    height: 1px;
    background: var(--border-color);
} */

.footer__middle__col {
    display: flex;
    gap: var(--def-gap);
    align-items: center;
}

.footer__middle__col i {
    display: inline-flex;
    font-size: var(--icons-font-size);
    width: var(--icons-dim);
    height: var(--icons-dim);
    justify-content: center;
    align-items: center;
    border: solid 1px transparent;
    border-radius: var(--border-radius);
}

.footer__middle__col--secondary i {
    color: var(--secondary-color);
    background-color: color-mix(in oklab, var(--secondary-color) 20%, transparent);
}

.footer__middle__col--primary i {
    color: var(--primary-color);
    background-color: color-mix(in oklab, var(--primary-color) 20%, transparent);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    /* padding: var(--horizontal-padding); */
    margin: var(--horizontal-padding);
    /* padding-top: calc(var(--def-gap)*3); */
    margin-top: calc(var(--def-gap)*2);
    padding-top: calc(var(--def-gap)*2);
    border-top: 1px solid var(--border-color);
    /* to limit the border width */
    width: calc(100% - 3.2rem*2);
    gap: calc(var(--def-gap)*15);
}

.footer__bottom ul {
    display: flex;
    gap: var(--def-gap);
}

/* no responsivity part */
body, header, main, footer {
    /* works only on screens with a width greater than 920px and force what below to scroll */
    min-width: 92rem;
    overflow-x: hidden;
}
@media (max-width: 920px) {
    body {
        overflow-x: scroll;
    }
}
